body, html
  margin: 0
  padding: 0
  background-color: lightgray
header
  width: 100%
  text-align: center
  color: white
  margin-bottom: 20px
  padding: 20px 0
  a
    color: white
    text-decoration: none
footer
  padding: 20px 0
  text-align: center
.content
  background-color: white
  padding: 20px 0
.color
  &-scheme
    > div 
      height: 100px
      width: 100px
  &-primary
    background-color: green
  &-secondary
    background-color: orange
  &-tertiary
    background-color: blue
